<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo_Mansory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>190A7EF01D61D75C0014F202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190A7F091D61D75D0014F202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190A7F141D61D75D0014F202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
